*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --background : rgb(35, 105, 138);
    --container : rgb(14, 43, 56);
    --display : none;
    --num : rgb(22, 65, 85);
    --num-hover: rgb(25, 72, 94);
    --op : rgb(18, 54, 71);
    --op-hover : rgb(21, 62, 82);
    --eq : rgb(52, 151, 197);
    --eq-hover : rgb(59, 171, 223);
}

body{
    height: 100vh;
    background-color: var(--background);
    display: flex;
    background-image: url(./test.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* background-color: var(--container); */
    background-color: rgb(0, 0, 0, 70%);
    color: white;
    padding: 8px;
    gap: 5px;
    user-select: none;
    backdrop-filter: blur(50px);
}

.display-container{
    display: flex;
    justify-content: end;
    align-items: center;

    padding: 0px 20px;
    min-height: 140px;
    font-size: 80px;
    font-size: 50px;
    font-weight: 400;
    border-radius: 8px;
    background-color: var(--display);
}

.display{
    word-break: break-all;
    line-height: 110%;
}

.buttons-container{
    display: flex;
    flex-direction: column;    
    gap: 4px;
    font-size: 26px;
    font-weight: 500;
}

.tab{
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 4px;
}

.row{
    display: flex;
    gap: 4px;
}

.btn{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: 70px;
    /* background-color: var(--num); */
    background-color: rgba(255, 255, 255, 10%);
}

.btn:hover{
    /* background-color: var(--num-hover); */
    background-color: rgba(255, 255, 255, 7%);
}

.op, .others{
    /* background-color: var(--op); */
    background-color: rgba(255, 255, 255, 7%);
    font-size: 24px;
}

.op:hover, .others:hover{
    /* background-color: var(--op-hover); */
    background-color: rgba(255, 255, 255, 4%);
}

/* .clear{
    background-color: rgb(192, 69, 100);
}
.clear:hover{
    background-color: rgb(211, 75, 109);
} */

.eq{
    /* background-color: var(--eq); */
    background-color: rgb(47, 102, 185);
}

.eq:hover{
    /* background-color: var(--eq-hover); */
    background-color: rgb(54, 115, 207);
}

#backspace-icon, #clear-icon{
    font-size: 32px;
}


