*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --background : rgb(35, 105, 138);
    --container : rgb(14, 43, 56);
    --display : none;
    --num : rgb(22, 65, 85);
    --num-hover: rgb(25, 72, 94);
    --op : rgb(18, 54, 71);
    --op-hover : rgb(21, 62, 82);
    --eq : rgb(52, 151, 197);
    --eq-hover : rgb(59, 171, 223);
}

.master{
    height: 100svh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./test.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    width: 350px;
    height: 450px;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* background-color: var(--container); */
    background-color: rgb(0, 0, 0, 70%);
    color: white;
    padding: 8px;
    gap: 5px;
    user-select: none;
    backdrop-filter: blur(50px);
    z-index: 1;
}

.display-container{
    display: flex;
    justify-content: end;
    align-items: center;

    padding: 5px 15px;
    min-height: 100px;
    font-size: 60px;
    font-weight: 400;
    border-radius: 8px;
    background-color: var(--display);
    cursor: grab;
}

.display-container:active{
    cursor: grabbing;
}

.display{
    word-break: break-all;
    line-height: 110%;
}

.buttons-container{
    display: flex;
    flex-direction: column;   
    height: 100%; 
    gap: 4px;
    font-size: 26px;
    font-weight: 500;
}

.tab{
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 4px;
}

.row{
    flex: 1;
    display: flex;
    gap: 4px;
}

.btn{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    /* min-height: 40px; */
    /* max-height: 70px; */
    /* background-color: var(--num); */
    background-color: rgba(150, 150, 255, 10%);
}

.btn:hover{
    /* background-color: var(--num-hover); */
    background-color: rgba(150, 150, 255, 6%);
}

.op, .others{
    /* background-color: var(--op); */
    background-color: rgba(150, 150, 255, 6%);
    font-size: 24px;
}

.op:hover, .others:hover{
    /* background-color: var(--op-hover); */
    background-color: rgba(150, 150, 255, 4%);
}

/* .clear{
    background-color: rgb(192, 69, 100);
}
.clear:hover{
    background-color: rgb(211, 75, 109);
} */

.eq{
    /* background-color: var(--eq); */
    background-color: rgb(47, 102, 185);
}

.eq:hover{
    /* background-color: var(--eq-hover); */
    background-color: rgb(54, 115, 207);
}

#backspace-icon, #clear-icon{
    font-size: 32px;
}

a, a::after{
    font-size: 20px;
    color: white;
    text-decoration: none;
    /* opacity: 70%; */
}

.footer{
    /* flex: 0; */
    display: block;
    position: absolute;
    right: 2em;
    bottom: 2em;
    /* margin: auto; */
}

@media screen and (max-width: 700px){
    .container{
        width: 95%;
        height: 100%;
        border-radius: 0;
    }
    .buttons-container{
        max-height: 70%;
    }
    .display-container{
        flex: 1;
        align-items: flex-end;
    }
    .master{
        background-image: none;
        /* background-color: rgb(33, 95, 196); */
        background-color: rgb(28, 28, 28);
    }
    .footer{
        display: none;
    }
    .op-row{
        max-height: 65px;
    }
}